=====================================================================
== C:\Program Files (x86)\Steam\steamapps\common\Arma 2 Operation Arrowhead\arma2oaserver.exe
== arma2oaserver.exe  -port=2302 "-config=instance_11_Chernarus\config.cfg" "-cfg=instance_11_Chernarus\basic.cfg" "-profiles=instance_11_Chernarus" -name=instance_11_Chernarus "-mod=@DayZ_Epoch;@DayZ_Epoch_Server;"
=====================================================================
Exe timestamp: 2017/03/14 10:50:36
Current time:  2017/03/14 16:41:39

Version 1.63.131129
Unsupported language Portuguese in stringtable
Unsupported language Portuguese in stringtable
Unsupported language Portuguese in stringtable
Unsupported language Portuguese in stringtable
Unsupported language Portuguese in stringtable
Unsupported language Portuguese in stringtable
Unsupported language Portuguese in stringtable
Unsupported language Portuguese in stringtable
Unsupported language Portuguese in stringtable
Unsupported language Portuguese in stringtable
Unsupported language Portuguese in stringtable
Unsupported language Portuguese in stringtable
Unsupported language Portuguese in stringtable
Unsupported language Portuguese in stringtable
Unsupported language Portuguese in stringtable
Unsupported language Portuguese in stringtable
Unsupported language Portuguese in stringtable
Unsupported language Portuguese in stringtable
Unsupported language Portuguese in stringtable
Unsupported language Portuguese in stringtable
Unsupported language Portuguese in stringtable
Unsupported language Portuguese in stringtable
Unsupported language Portuguese in stringtable
Unsupported language Portuguese in stringtable
Unsupported language Portuguese in stringtable
Unsupported language Portuguese in stringtable
Unsupported language Portuguese in stringtable
Unsupported language Portuguese in stringtable
Updating base class ->NonStrategic, by ca\config.bin/CfgVehicles/HouseBase/
Updating base class ->HouseBase, by ca\config.bin/CfgVehicles/Ruins/
Updating base class ->DestructionEffects, by ca\config.bin/CfgVehicles/House/DestructionEffects/
Updating base class ->FlagCarrierCore, by ca\ca_pmc\config.bin/CfgVehicles/FlagCarrier/
Updating base class ->VehicleMagazine, by ca\weapons\config.bin/CfgMagazines/14Rnd_FFAR/
Updating base class Default->RifleCore, by ca\weapons\config.bin/cfgWeapons/Rifle/
Updating base class ->LauncherCore, by ca\weapons\config.bin/cfgWeapons/RocketPods/
Updating base class ->RocketPods, by ca\weapons\config.bin/cfgWeapons/FFARLauncher/
Updating base class ->UH60_Base, by ca\air\config.bin/CfgVehicles/MH60S/
Updating base class ->Car, by ca\wheeled2\lada\config.bin/CfgVehicles/Lada_base/
Updating base class Small_items->ReammoBox, by dayz_equip\config.cpp/CfgVehicles/CardboardBox/
Updating base class StreetLamp_EP1->StreetLamp, by z\addons\dayz_code\config.bin/CfgNonAIVehicles/Land_Lamp_Small_EP1/
Updating base class StreetLamp_EP1->StreetLamp, by z\addons\dayz_code\config.bin/CfgNonAIVehicles/Land_Lamp_Street1_EP1/
Updating base class StreetLamp_EP1->StreetLamp, by z\addons\dayz_code\config.bin/CfgNonAIVehicles/Land_Lamp_Street2_EP1/
Updating base class StreetLamp_EP1->StreetLamp, by z\addons\dayz_code\config.bin/CfgNonAIVehicles/Land_Lampa_Ind_EP1/
Updating base class StreetLamp_EP1->StreetLamp, by z\addons\dayz_code\config.bin/CfgNonAIVehicles/Land_PowLines_Conc2L_EP1/
Updating base class StreetLamp_BaseMediumOrange->StreetLamp, by z\addons\dayz_code\config.bin/CfgNonAIVehicles/Land_lampa_sidl/
Updating base class StreetLamp_BaseMediumOrange->StreetLamp, by z\addons\dayz_code\config.bin/CfgNonAIVehicles/Land_lampa_sidl_2/
Updating base class StreetLamp_BaseMediumOrange->StreetLamp, by z\addons\dayz_code\config.bin/CfgNonAIVehicles/Land_lampa_sidl_3/
Updating base class StreetLamp_BaseWeakYellow->StreetLamp, by z\addons\dayz_code\config.bin/CfgNonAIVehicles/Land_lampa_ind/
Updating base class StreetLamp_BaseWeakYellow->StreetLamp, by z\addons\dayz_code\config.bin/CfgNonAIVehicles/Land_lampa_ind_zebr/
Updating base class RscStandardDisplay->, by z\addons\dayz_code\config.bin/RscDisplayStart/
Updating base class RscShortcutButton->RscShortcutButtonMain, by z\addons\dayz_code\config.bin/RscDisplayMain/controls/CA_Exit/
Updating base class CA_IGUI_Title->RscText, by z\addons\dayz_code\config.bin/RscDisplayGear/Controls/Gear_Title/
Updating base class Available_items_Text->RscText, by z\addons\dayz_code\config.bin/RscDisplayGear/Controls/CA_ItemName/
Updating base class CA_Gear_slot_item7->CA_Gear_slot_item1, by z\addons\dayz_code\config.bin/RscDisplayGear/Controls/G_GearItems/Controls/CA_Gear_slot_item8/
Updating base class CA_Gear_slot_item7->CA_Gear_slot_item1, by z\addons\dayz_code\config.bin/RscDisplayGear/Controls/G_GearItems/Controls/CA_Gear_slot_item9/
Updating base class CA_Gear_slot_item7->CA_Gear_slot_item1, by z\addons\dayz_code\config.bin/RscDisplayGear/Controls/G_GearItems/Controls/CA_Gear_slot_item10/
Updating base class CA_Gear_slot_item7->CA_Gear_slot_item1, by z\addons\dayz_code\config.bin/RscDisplayGear/Controls/G_GearItems/Controls/CA_Gear_slot_item11/
Updating base class CA_Gear_slot_item7->CA_Gear_slot_item1, by z\addons\dayz_code\config.bin/RscDisplayGear/Controls/G_GearItems/Controls/CA_Gear_slot_item12/
Updating base class CA_Gear_slot_handgun_item5->CA_Gear_slot_handgun_item1, by z\addons\dayz_code\config.bin/RscDisplayGear/Controls/G_GearItems/Controls/CA_Gear_slot_handgun_item6/
Updating base class CA_Gear_slot_handgun_item5->CA_Gear_slot_handgun_item1, by z\addons\dayz_code\config.bin/RscDisplayGear/Controls/G_GearItems/Controls/CA_Gear_slot_handgun_item7/
Updating base class CA_Gear_slot_handgun_item5->CA_Gear_slot_handgun_item1, by z\addons\dayz_code\config.bin/RscDisplayGear/Controls/G_GearItems/Controls/CA_Gear_slot_handgun_item8/
Updating base class CA_Gear_slot_special1->CA_Gear_slot_handgun_item1, by z\addons\dayz_code\config.bin/RscDisplayGear/Controls/G_GearItems/Controls/CA_Gear_slot_inventory1/
Updating base class CA_Gear_slot_inventory7->CA_Gear_slot_inventory1, by z\addons\dayz_code\config.bin/RscDisplayGear/Controls/G_GearItems/Controls/CA_Gear_slot_inventory8/
Updating base class CA_Gear_slot_inventory7->CA_Gear_slot_inventory1, by z\addons\dayz_code\config.bin/RscDisplayGear/Controls/G_GearItems/Controls/CA_Gear_slot_inventory9/
Updating base class CA_Gear_slot_inventory7->CA_Gear_slot_inventory1, by z\addons\dayz_code\config.bin/RscDisplayGear/Controls/G_GearItems/Controls/CA_Gear_slot_inventory10/
Updating base class CA_Gear_slot_inventory7->CA_Gear_slot_inventory1, by z\addons\dayz_code\config.bin/RscDisplayGear/Controls/G_GearItems/Controls/CA_Gear_slot_inventory11/
Updating base class CA_Gear_slot_inventory7->CA_Gear_slot_inventory1, by z\addons\dayz_code\config.bin/RscDisplayGear/Controls/G_GearItems/Controls/CA_Gear_slot_inventory12/
Updating base class CA_Gear_slot_item1->CA_Gear_slot_handgun, by z\addons\dayz_code\config.bin/RscDisplayGear/Controls/G_GearItems/Controls/CA_Gear_slot_special1/
Updating base class RscIGUIShortcutButton->RscActiveText, by z\addons\dayz_code\config.bin/RscDisplayGear/Controls/ButtonClose/
Updating base class RscText->, by z\addons\dayz_code\config.bin/RscTitles/Default/
Updating base class ->ViewOptics, by z\addons\dayz_code\config.bin/CfgVehicles/Mi17_base/Turrets/MainTurret/ViewOptics/
Updating base class ->ViewOptics, by z\addons\dayz_code\config.bin/CfgVehicles/UH1H_base/Turrets/MainTurret/ViewOptics/
Updating base class ->ViewOptics, by z\addons\dayz_code\config.bin/CfgVehicles/UH1_Base/Turrets/MainTurret/ViewOptics/
Updating base class Strategic->, by z\addons\dayz_code\config.bin/CfgVehicles/Bomb/
Updating base class HighCommand->Logic, by z\addons\dayz_code\config.bin/CfgVehicles/HighCommandSubordinate/
Updating base class NonStrategic->BuiltItems, by z\addons\dayz_code\config.bin/CfgVehicles/Fort_RazorWire/
Updating base class ->DefaultEventhandlers, by z\addons\dayz_code\config.bin/CfgVehicles/CSJ_GyroP/EventHandlers/
Updating base class AnimationSources->AnimationSources, by z\addons\dayz_code\config.bin/CfgVehicles/CSJ_GyroC/AnimationSources/
Updating base class ->DefaultEventhandlers, by z\addons\dayz_code\config.bin/CfgVehicles/CSJ_GyroC/EventHandlers/
Updating base class BuiltItems->Generator_Base, by z\addons\dayz_code\config.bin/CfgVehicles/Generator_DZ/
Updating base class VehicleMagazine->CA_Magazine, by z\addons\dayz_code\config.bin/CfgMagazines/29Rnd_30mm_AGS30/
Updating base class VehicleMagazine->CA_Magazine, by z\addons\dayz_code\config.bin/CfgMagazines/48Rnd_40mm_MK19/
Updating base class 4000Rnd_762x51_M134->CA_Magazine, by z\addons\dayz_code\config.bin/CfgMagazines/2000Rnd_762x51_M134/
Updating base class VehicleMagazine->CA_Magazine, by z\addons\dayz_code\config.bin/CfgMagazines/100Rnd_127x99_M2/
Updating base class VehicleMagazine->CA_Magazine, by z\addons\dayz_code\config.bin/CfgMagazines/50Rnd_127x107_DSHKM/
Updating base class 4000Rnd_762x51_M134->CA_Magazine, by z\addons\dayz_code\config.bin/CfgMagazines/pook_1300Rnd_762x51_M60/
Updating base class 100Rnd_762x51_M240->CA_Magazine, by z\addons\dayz_code\config.bin/CfgMagazines/pook_250Rnd_762x51/
Updating base class 6Rnd_Grenade_Camel->CA_Magazine, by z\addons\dayz_code\config.bin/CfgMagazines/pook_12Rnd_Grenade_Camel/
Updating base class VehicleMagazine->CA_Magazine, by z\addons\dayz_code\config.bin/CfgMagazines/3Rnd_GyroGrenade/
Updating base class DropWeapon->None, by z\addons\dayz_code\config.bin/CfgActions/PutWeapon/
Updating base class DropMagazine->None, by z\addons\dayz_code\config.bin/CfgActions/PutMagazine/
Updating base class Land_HouseV_1I2->House, by zero_buildings\config.cpp/CfgVehicles/Land_HouseV_1L2/
Updating base class Land_HouseV_1I2->House, by zero_buildings\config.cpp/CfgVehicles/Land_HouseV_3I3/
Updating base class House->DZE_OpenHouse, by warehouse\config.bin/CfgVehicles/Land_Ind_Pec_03/
16:42:10 Initializing Steam server - Game Port: 2302, Steam Query Port: 2303
16:42:12 Connected to Steam servers
16:42:24 Server error: Player without identity TownCountry (id 583151708)
16:42:24 Server error: Player without identity TownCountry (id 583151708)
16:42:24 Server error: Player without identity TownCountry (id 583151708)
16:42:24 Server error: Player without identity TownCountry (id 583151708)
16:42:24 Server error: Player without identity TownCountry (id 583151708)
16:42:24 Server error: Player without identity TownCountry (id 583151708)
16:42:24 Server error: Player without identity TownCountry (id 583151708)
16:42:24 Server error: Player without identity TownCountry (id 583151708)
16:42:24 Server error: Player without identity TownCountry (id 583151708)
16:42:24 Server error: Player without identity TownCountry (id 583151708)
16:42:24 Server error: Player without identity TownCountry (id 583151708)
16:42:24 Server error: Player without identity TownCountry (id 583151708)
16:42:24 Server error: Player without identity TownCountry (id 583151708)
16:42:24 Server error: Player without identity TownCountry (id 583151708)
16:42:24 Server error: Player without identity TownCountry (id 583151708)
16:42:24 Server error: Player without identity TownCountry (id 583151708)
16:42:24 Server error: Player without identity TownCountry (id 583151708)
16:42:24 Server error: Player without identity TownCountry (id 583151708)
16:42:24 Server error: Player without identity TownCountry (id 583151708)
16:42:31 Strange convex component81 in zero_buildings\models\housev_3i3_i.p3d:geometryFire
16:42:42 Strange convex component288 in warehouse\models\warehouse.p3d:geometry
16:42:42 Strange convex component289 in warehouse\models\warehouse.p3d:geometry
16:42:42 Strange convex component290 in warehouse\models\warehouse.p3d:geometry
16:42:42 Strange convex component291 in warehouse\models\warehouse.p3d:geometry
16:42:42 Strange convex component292 in warehouse\models\warehouse.p3d:geometry
16:42:42 Strange convex component293 in warehouse\models\warehouse.p3d:geometry
16:42:42 Strange convex component294 in warehouse\models\warehouse.p3d:geometry
16:42:42 Strange convex component295 in warehouse\models\warehouse.p3d:geometry
16:42:42 Strange convex component296 in warehouse\models\warehouse.p3d:geometry
16:42:42 Strange convex component297 in warehouse\models\warehouse.p3d:geometry
16:42:42 Strange convex component298 in warehouse\models\warehouse.p3d:geometry
16:42:42 Strange convex component299 in warehouse\models\warehouse.p3d:geometry
16:42:42 Strange convex component300 in warehouse\models\warehouse.p3d:geometry
16:42:42 Strange convex component301 in warehouse\models\warehouse.p3d:geometry
16:42:42 Strange convex component302 in warehouse\models\warehouse.p3d:geometry
16:42:42 Strange convex component303 in warehouse\models\warehouse.p3d:geometry
16:42:42 Strange convex component304 in warehouse\models\warehouse.p3d:geometry
16:42:42 Strange convex component305 in warehouse\models\warehouse.p3d:geometry
16:42:42 Strange convex component306 in warehouse\models\warehouse.p3d:geometry
16:42:42 Strange convex component307 in warehouse\models\warehouse.p3d:geometry
16:42:42 Strange convex component308 in warehouse\models\warehouse.p3d:geometry
16:42:42 Strange convex component309 in warehouse\models\warehouse.p3d:geometry
16:42:42 Strange convex component310 in warehouse\models\warehouse.p3d:geometry
16:42:42 Strange convex component311 in warehouse\models\warehouse.p3d:geometry
16:42:42 Strange convex component312 in warehouse\models\warehouse.p3d:geometry
16:42:42 Strange convex component313 in warehouse\models\warehouse.p3d:geometry
16:42:42 Strange convex component314 in warehouse\models\warehouse.p3d:geometry
16:42:42 Strange convex component315 in warehouse\models\warehouse.p3d:geometry
16:42:42 Strange convex component316 in warehouse\models\warehouse.p3d:geometry
16:42:42 Strange convex component317 in warehouse\models\warehouse.p3d:geometry
16:42:42 Strange convex component252 in warehouse\models\warehouse.p3d:geometryFire
16:42:42 Strange convex component253 in warehouse\models\warehouse.p3d:geometryFire
16:42:42 Strange convex component254 in warehouse\models\warehouse.p3d:geometryFire
16:42:42 Strange convex component255 in warehouse\models\warehouse.p3d:geometryFire
16:42:42 Strange convex component256 in warehouse\models\warehouse.p3d:geometryFire
16:42:42 Strange convex component257 in warehouse\models\warehouse.p3d:geometryFire
16:42:42 Strange convex component258 in warehouse\models\warehouse.p3d:geometryFire
16:42:42 Strange convex component259 in warehouse\models\warehouse.p3d:geometryFire
16:42:42 Strange convex component260 in warehouse\models\warehouse.p3d:geometryFire
16:42:42 Strange convex component261 in warehouse\models\warehouse.p3d:geometryFire
16:42:42 Strange convex component262 in warehouse\models\warehouse.p3d:geometryFire
16:42:42 Strange convex component263 in warehouse\models\warehouse.p3d:geometryFire
16:42:42 Strange convex component264 in warehouse\models\warehouse.p3d:geometryFire
16:42:42 Strange convex component265 in warehouse\models\warehouse.p3d:geometryFire
16:42:42 Strange convex component266 in warehouse\models\warehouse.p3d:geometryFire
16:42:42 Strange convex component267 in warehouse\models\warehouse.p3d:geometryFire
16:42:42 Strange convex component268 in warehouse\models\warehouse.p3d:geometryFire
16:42:42 Strange convex component269 in warehouse\models\warehouse.p3d:geometryFire
16:42:42 Strange convex component270 in warehouse\models\warehouse.p3d:geometryFire
16:42:42 Strange convex component271 in warehouse\models\warehouse.p3d:geometryFire
16:42:42 Strange convex component272 in warehouse\models\warehouse.p3d:geometryFire
16:42:42 Strange convex component273 in warehouse\models\warehouse.p3d:geometryFire
16:42:42 Strange convex component274 in warehouse\models\warehouse.p3d:geometryFire
16:42:42 Strange convex component275 in warehouse\models\warehouse.p3d:geometryFire
16:42:42 Strange convex component276 in warehouse\models\warehouse.p3d:geometryFire
16:42:42 Strange convex component277 in warehouse\models\warehouse.p3d:geometryFire
16:42:42 Strange convex component278 in warehouse\models\warehouse.p3d:geometryFire
16:42:42 Strange convex component279 in warehouse\models\warehouse.p3d:geometryFire
16:42:42 Strange convex component280 in warehouse\models\warehouse.p3d:geometryFire
16:42:42 Strange convex component281 in warehouse\models\warehouse.p3d:geometryFire
16:42:42 Strange convex component249 in warehouse\models\warehouse.p3d:geometryView
16:42:42 Strange convex component250 in warehouse\models\warehouse.p3d:geometryView
16:42:42 Strange convex component251 in warehouse\models\warehouse.p3d:geometryView
16:42:42 Strange convex component252 in warehouse\models\warehouse.p3d:geometryView
16:42:42 Strange convex component253 in warehouse\models\warehouse.p3d:geometryView
16:42:42 Strange convex component254 in warehouse\models\warehouse.p3d:geometryView
16:42:42 Strange convex component255 in warehouse\models\warehouse.p3d:geometryView
16:42:42 Strange convex component256 in warehouse\models\warehouse.p3d:geometryView
16:42:42 Strange convex component257 in warehouse\models\warehouse.p3d:geometryView
16:42:42 Strange convex component258 in warehouse\models\warehouse.p3d:geometryView
16:42:42 Strange convex component259 in warehouse\models\warehouse.p3d:geometryView
16:42:42 Strange convex component260 in warehouse\models\warehouse.p3d:geometryView
16:42:42 Strange convex component261 in warehouse\models\warehouse.p3d:geometryView
16:42:42 Strange convex component262 in warehouse\models\warehouse.p3d:geometryView
16:42:42 Strange convex component263 in warehouse\models\warehouse.p3d:geometryView
16:42:42 Strange convex component264 in warehouse\models\warehouse.p3d:geometryView
16:42:42 Strange convex component265 in warehouse\models\warehouse.p3d:geometryView
16:42:42 Strange convex component266 in warehouse\models\warehouse.p3d:geometryView
16:42:42 Strange convex component267 in warehouse\models\warehouse.p3d:geometryView
16:42:42 Strange convex component268 in warehouse\models\warehouse.p3d:geometryView
16:42:42 Strange convex component269 in warehouse\models\warehouse.p3d:geometryView
16:42:42 Strange convex component270 in warehouse\models\warehouse.p3d:geometryView
16:42:42 Strange convex component271 in warehouse\models\warehouse.p3d:geometryView
16:42:42 Strange convex component272 in warehouse\models\warehouse.p3d:geometryView
16:42:42 Strange convex component273 in warehouse\models\warehouse.p3d:geometryView
16:42:42 Strange convex component274 in warehouse\models\warehouse.p3d:geometryView
16:42:42 Strange convex component275 in warehouse\models\warehouse.p3d:geometryView
16:42:42 Strange convex component276 in warehouse\models\warehouse.p3d:geometryView
16:42:42 Strange convex component277 in warehouse\models\warehouse.p3d:geometryView
16:42:42 Strange convex component278 in warehouse\models\warehouse.p3d:geometryView
16:42:52 "PRELOAD_ Functions\init [[<No group>:0 (FunctionsManager)],any]"
16:42:52 "MPframework inited"
16:42:52 "dayz_preloadFinished reset"
16:42:58 "HIVE: Starting"
16:42:58 "z\addons\dayz_code\system\REsec.sqf:Monitoring Remote Exe..."
16:42:58 Error in expression <erver_hiveReadWrite;
_outcome = _result select 0;
if (_outcome == "PASS") then {>
16:42:58   Error position: <select 0;
if (_outcome == "PASS") then {>
16:42:58   Error select: Type String, expected Array,Config entry
16:42:58 File z\addons\dayz_server\system\server_monitor.sqf, line 23
16:42:58 "SERVER FPS: 13  PLAYERS: 1"
